# build
dist

# cache
.eslintcache
*.tsbuildinfo

# dependencies
node_modules

# dotenv
.env*
!.env.example

# editor
.vscode

# fixtures
tests/fixtures

# logs
logs
*.log
pnpm-debug.log*

# misc
.DS_Store
